<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" media="all" href="<%= css %>" />
</head>
<body>
  <header class="navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <% if(!hasTitle) { %>
            <h1><%= title %></h1>
          <% } %>
        </div>
        <div id="toggleAllCodeWrapper" class="col-xs-6 text-right"></div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-3" role="complementary">
        <nav id="sectionLinksNav" class="hidden-print hidden-sm hidden-xs affix">
          <ul class="nav">
            <% for(var i = 0; i < sections.length; i++){ %>
              <% var header = sections[i].docsHtml.match(/<h(\d).*?>(.*?)<\/h/i) %>
              <% if(header){ %>
                <li>
                  <a href="#<%= header[2].toLowerCase().replace(' ', '-') %>"><%= header[2] %></a>
                </li>
              <% } %>
            <% } %>
          </ul>
        </nav>
      </div>
      <div id="main" class="col-md-9" role="main">
        <% for(var i = 0; i < sections.length; i++){ %>
          <%= sections[i].docsHtml %>
          <% if(!(/^\s*$/).test(sections[i].codeText)){ %>
            <%= sections[i].codeHtml %>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(function(){
      $('#toggleAllCodeWrapper').append('<button id="toggleAllCode" type="button" class="btn btn-default">Toggle Source</button>')
      $('#toggleAllCode').click(e => $('pre').slideToggle());
      $('pre').hide().before(i => {
        return $('<button type="button" class="btn btn-default btn-xs code-toggle">View Source</button>')
          .click(e => $(e.target).next().slideToggle());
      });
      $(document.body).scrollspy({target: '#sectionLinksNav'});
    });
  </script>
</body>
</html>
